<!DOCTYPE html>
{% load staticfiles %}
<html lang={% if language == 'English' %}"en"{% else %}"es"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Amatic+SC" rel="stylesheet"> 
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    {% block css %}
    {% endblock %}
  </head>

  <body class="base">
    <input type="hidden" id="navbar-activation-tag" value="{{active_navbar_item}}"></input>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
                 <button id="mobile-nav-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav" style="width:100%">
                <!--id must match backend value passed in as active_navbar_item so that the area appears selected on desktops. Script just says to make active the item with corresponding id.-->
                <li><a class="brand" href="/">Andrew Puglionesi</a></li>
                <ul class="nav navbar-nav navbar-right">
                
                    <li id="home"><a href={% if language == 'English' %}"/"{% else %}"/es"{% endif %}>{% if language == 'English' %}Me{% else %}Mí{% endif %}</a></li>
                    
                    <li id="projects"><a href={% if language == 'English' %}"/projects"{% else %}"/projects/es"{% endif %}>{% if language == 'English' %}Projects{% else %}Proyectos{% endif %}</a></li>
                    
                    <li id="photography"><a href={% if language == 'English' %}"/photography"{% else %}"/photography/es"{% endif %}>{% if language == 'English' %}Photography{% else %}Fotografía{% endif %}</a></li>
                    
                    <li id="web"><a href={% if language == 'English' %}"/on-the-web"{% else %}"/on-the-web/es"{% endif %}>{% if language == 'English' %}On the Web{% else %}En la Red{% endif %}</a></li>
                    
                    <li><a href="/static/images/AndrewPuglionesiResume.pdf" target="_blank">{% if language == 'English' %}Resume{% else %}Resumen{% endif %}</a></li>
                    
                    <li id="about"><a href={% if language == 'English' %}"/about"{% else %}"/about/es"{% endif %}>{% if language == 'English' %}About the Site{% else %}Sobre Este Sitio {% endif %}</a></li>

                    <li class="dropdown" id="lang-choices">
                      <a href="#" class="dropdown-toggle inherit-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="lang-picker">Language <span class="caret"></span></a>
                      <ul id="lang-target" class="dropdown-menu dark-blue">
                        <li><a class="dark-hover center-on-mobile" href="#">{% if language == 'English' %}English{% else %}Español{% endif %}</a></li>
                        <li role="separator" class="divider dark-divider"></li>
                        <li><a class="dark-hover center-on-mobile" href={% if language == 'English' and request.path != "/" %}"{{request.path}}/es"{% elif language == 'English' %}"/es"{% elif request.path == '/es' %}"{{request.path|slice:':-2'}}"{% else %}"{{request.path|slice:':-3'}}"{% endif %}>{% if language == 'English' %}Español{% else %}English{% endif %}</a></li>
                      </ul>
                    </li>
                </ul>
              </ul>
            </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="content" style="width:100%;max-width:1080px;margin:auto;">
        {% block content %}
        {% endblock %}
    </div>
    <div class="web-icon-bar fade-in">
        <a href="https://www.linkedin.com/in/andrew-puglionesi" target="_blank" title="{% if language == "English" %}My LinkedIn page{% else %}Mi perfil de LinkedIn{% endif %}">
            <i class="fa fa-linkedin-square web small-icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/aop4" target="_blank" title="{% if language == "English" %}My GitHub repositories{% else %}Mis repositorios en GitHub{% endif %}">
            <i class="fa fa-github-square web small-icon" aria-hidden="true"></i>
        </a>
        <a href="https://stringsofcharacters.wordpress.com/" target="_blank" title="{% if language == "English" %}My Wordpress blog{% else %}Mi blog{% endif %}">
            <i class="fa fa-wordpress web small-icon" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCbTleumNUKaZeGD8OdSlVqA" target="_blank" title="{% if language == "English" %}YouTube videos{% else %}Videos en YouTube{% endif %}">
        <i class="fa fa-youtube-play web small-icon" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages oload faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script type="text/javascript" src="{% static 'js/restive.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').restive({
                breakpoints: ['240', '320', '480', '640', '720', '960', '1280'],
                classes: ['rp_240', 'rp_320', 'rp_480', 'rp_640', 'rp_720', 'rp_960', 'rp_1280'],
                turbo_classes: 'is_mobile=mobi,is_phone=phone,is_tablet=tablet',
                force_dip: true
            });
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="https://use.fontawesome.com/3a1262e1c7.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>

