Love, I’m trying to reach out
I’m trying to grab hold,
trying; my heart won’t let me in.
If I didn’t know you, if I hadn’t seen you
that day I don’t know where I’d be now
where I’d be now
But it wouldn’t be here

I’ve gotta say something, I want to say nothing
I’m gonna say something--
that’s why I’m here
I guess it could be your beauty,
or it could be much more
could be that I need to call you dear someday...

Dear someday,

I know I haven’t lived you yet,
And the sun hasn’t risen in the corner of sky it’ll call its own
And though you seem rather distant,
hope I may have the fortune
to call you my own,
someday
