{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet"></link>
{% endblock %}

{% block content %}


<title>Andrew Puglionesi</title>
<hw>{% if language == "English" %}Hi!{% else %}¡Hola!{% endif %}</hw>
<div class="container index-container">
    <div class="index-box">
        <p>
            {% if language == "English" %}
            <span class="first-letter">I</span> am a computer science major at the University of Pittsburgh who likes to build software. I consider myself a generalist: I enjoy both back end and full stack development, and I'm not tied to any one programming language or development environment.
            {% else %}
            <span class="first-letter">E</span>studio la ciencia de computación en la Universidad de Pittsburgh, y me gusta crear software. Me considero un generalista: no necesariamente estoy atado al back end (disfruto del desarrollo full stack), y no estoy atado a una sola lengua o un solo entorno de desarrollo.
            {% endif %}
        </p>
    </div>
    <div class="hr-cntnr">
        <hr>
    </div>
    <div class="index-box">
        <p>
            {% if language == "English" %}
            <span class="first-letter">O</span>n the contrary, I like to explore technologies. I learn new skills quickly and have an appetite for change, both within and between projects. What keeps me going on any given day is the prospect of new challenges. One constant is that I focus on the readability and quality of what I write—not just from my own perspective, but from that of anyone who might come across my code.
            {% else %}
            <span class="first-letter">A</span>l contrario, me gusta explorar tecnologías nuevas. Aprendo habilidades nuevas rápidamente y tengo una sed de cambios, dentro de y entre proyectos. Lo que me inspira cada día es la perspectiva de problemas nuevos. Una constante es que concentro en la claridad y la calidad de lo que escrito—de las perspectivas de todos que lo leen.
            {% endif %}
        </p>
    </div>
    <div class="hr-cntnr">
        <hr>
    </div>
    <div class="index-box">
        <p>
            {% if language == "English" %}
            <span class="first-letter">T</span>raining and research in the natural sciences have encouraged me to apply a quantitative, investigative approach. An education in computer science has taught me to analyze and attend to the performance of algorithms and systems. My experience has taught me to focus on maintainability. And I make my best effort to put it all together.
            {% else %}
            <span class="first-letter">F</span>ormación y investigaciones en las ciencias naturales me ha alentado a aplicar un enfoque cuantitativo y investigador. Mi formación en la ciencia de computación me ha ensañado a analizar y considerar la eficiencia de algoritmos y sistemas. Mi experiencia práctica me ha ensañado a concentrar en la mantenimiento de software. Y hacer un esfuerzo para juntar todo.
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
