{% extends 'base.html' %}
{% block content %}


<title>Andrew Puglionesi</title>

<div class="container" style="width:70%;min-width:320px;">    
	<hw id="indexhead">{% if language == "English" %}Hello, world!{% else %}¡Hola, mundo!{% endif %}</hw>
    <div class="hr-cntnr">
        <hr>
    </div>
    <div class="index-box">
        <p>
            {% if language == "English" %}
            I am a computer science major at the University of Pittsburgh interested in a career in web and/or applications development. I want to make the world a better place through technology.
            {% else %}
            Estudio la ciencia de computación en la Universidad de Pittsburgh, y tengo interés en una carrera en el campo del desarrollo web y/o el desarrollo de applicaciones. Quiero mejorar el mundo por la tecnología.
            {% endif %}
        </p>
    </div>
    <div class="index-box">
        <p>
            {% if language == "English" %}
            I have a strong grounding in the natural sciences, mathematics, and computer science, with practical experience in diverse areas, from laboratory research to music to software engineering and web development.
            {% else %}
            Tengo una base fuerta en las ciencias naturales, las matemáticas, y la ciencia de computación, además de experiencia práctica en áreas diversas, incluyendo las investigaciones científicas, la música, y la ingeniería de software y el desarrollo web.
            {% endif %}
        </p>
    </div>
    <div class="index-box">
        <p>
            {% if language == "English" %}
            Through it all, I’ve become convinced that the best way to learn something new is to do something new, to ask questions and seek answers, and always to strive for improvement.
            {% else %}
            Todo eso me ha convencido que la manera mejor para aprender algo nuevo es hacer algo nuevo, pedir preguntas y buscar respuestas, y siempre tratar de mejorarse.
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}