Is everything we see written with destiny,
or with the laws that men and women have bled?
My questions, do you see, are they a part of me,
or are they part, part of some other man?
What is the point of this thing we call life we live?
Are we just here, or is it happiness?
Because that's all that I seem to see,
All that I want for me, you, and our kin
Kin of all kinds, you know,
Walls leave no one alone
We'll breathe the air until
our time comes
And our time will come

Am I mechanical? Am I an animal?
Does half of what I know ever leave my head?
Does the world we perceive reflect reality?
Why won't you look at me, or was it something I said?
Why am I tied to you,
Why's my mind leap to you,
Why does your absence make me so damn upset?
And why do we exist?

Sometimes I think it's we who make the meaning, and
We're fallible but failure's a misleading word
We're malleable but sometimes there's no time to mend
Breathe in, breathe out,
I see you're trying to swim
Don't ever give in
We're in a universe that we cannot begin to comprehend
Is it limitless, or, tell me, does it have some kind of end?
What makes me me, and what makes you you?
And why can I feel this kind of pain?
And why do I have these thoughts I can't explain?
And why can I remember the glint in your eyes?
And why do we feel like the same people for our entire lives?
And why do we have lives?

What do my words mean?
Is language without seams?
Is there a perfect way to learn about our past?
Is this a fleeting time
in a fleeting life
in a universe that lives a million times?
Are my decisions tests?
Is my wonder at best answered by what you'd call a guess?
And do you have a guess?

