{% extends 'base.html' %}

{% block content %}
<title>Andrew Puglionesi - Photography</title>
<body class="" style="background-color:#161518;margin-bottom: 40px;width:100%; text-align:center;">
	<div class="carousel">
		<div class="left-arrow"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>
	    <div class="photo-gallery">
	        <div class="photo"><img class="photo" src="/static/images/rays.jpg"></div>
	        <div class="photo"><img class="photo" src="/static/images/bells.jpg"></div>
	        <div class="photo"><img class="photo" src="/static/images/craterlake.jpg"></div>
	        <div class="photo"><img class="photo" src="/static/images/house.jpg"></div>
	        <div class="photo"><img class="photo" src="/static/images/candle.jpg"></div>
	    </div>
	    <div class = "right-arrow"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
	</div>
</body>
{% endblock %}