{% extends 'base.html' %}

{% block content %}
<title>Andrew Puglionesi - Photography</title>
<body class="" style="background-color:#161518;margin-bottom: 40px;width:100%">
    <h1 class="photo">{% if language == "English" %}Photography{% else %}Fotografía{% endif %}</h1>  

        <img class="photo" src="/static/images/rays.jpg">
        <img class="photo" src="/static/images/bells.jpg">
        <img class="photo" src="/static/images/craterlake.jpg">
        <img class="photo" src="/static/images/house.jpg">
        <img class="photo" src="/static/images/candle.jpg">

</body>
{% endblock %}