body {
  padding-top: 70px;
  text-align: center;
  height:100%;
}

div.index-box {
  background:#eee;
  padding:0.5em 0.25em 0.25em 0.25em;
  border-radius:5px;
  margin-bottom:2em;
  background: rgba(238,238,238,0.6);
}

#first-box, #second-box, #third-box {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#first-box {
  -moz-animation-name: slideUp1;
  -webkit-animation-name: slideUp1;
}

@-moz-keyframes slideUp1 {
  0% {
    -moz-transform:translateY(200vh);
  }
  100% {
    -moz-transform:translateY(0vh);
  }
}

@-webkit-keyframes slideUp1 {
  0% {
    -webkit-transform: translateY(200vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}

#second-box {
  -moz-animation-name: slideUp2;
  -webkit-animation-name: slideUp2;
}

@-moz-keyframes slideUp2 {
  0% {
    -moz-transform:translateY(150vh);
  }
  100% {
    -moz-transform:translateY(0vh);
  }
}

@-webkit-keyframes slideUp2 {
  0% {
    -webkit-transform: translateY(150vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}


#third-box {
  -moz-animation-name: slideUp3;
  -webkit-animation-name: slideUp3;
}

@-moz-keyframes slideUp3 {
  0% {
    -moz-transform:translateY(100vh);
  }
  100% {
    -moz-transform:translateY(0vh);
  }
}

@-webkit-keyframes slideUp3 {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}

#first-box.no-delay, #second-box.no-delay, #third-box.no-delay {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
  border-bottom-width: 70px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.nav.navbar-nav li a {
  color: powderblue;
}

ul>li {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 60px;
}

ul>li.language {
  position:absolute;
  right:50px;
  border-right-width:0px;
}

hr {
  border-top:5px double;
  width:100%;
  border-color:white;
  border-radius:10px;
  margin-top:0px;
}

.hr-cntnr {
  margin-bottom:3em;
}

h1 {
  font-family: monospace;
  font-size: 500%;
  color: white;
  padding-bottom: 60px;
}

h1.photo {
    padding-top: 10px;
    font-style:"monospace";
    font-size: 300%;
    color:grey;
    text-underline-position: 20px;
}

p {
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 140%;
  page-break-inside: avoid;
}

p.site {
  font-family:serif;
  padding-top: 20px;
  font-size: 1.4em;
  margin:auto;
}

space {
  color: #95a4e7;
  font-size: 140%;
}

span.highlight {
  background-color:#ccc;
  font-size: 1.1em;
}

div.msg {
  margin-top: 20px;
}

#thumb {
  height:100%;
  width:100%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  float:left;
  margin-right:1em;
  padding-bottom:0.5em;
}

.rp_240, .rp_320, .rp_480, .rp_640, .rp_720 #thumb {
  padding-bottom: 1em;
}

div.photo-gallery, div.carousel {
  width:90%;
  max-width:800px;
  margin:auto;
  text-align:center;
}

div.photo-gallery {
  overflow: hidden;
}

.left-arrow, .right-arrow {
  display: block;
  font-size: 3em;
  position: absolute;
  top: 40%;
}

.left-arrow {
  left: -5%;
  padding: 0% 10% 10% 0%;
}

.right-arrow {
  right: -5%;
  padding: 0% 0% 10% 10%;
}

.left-arrow:hover, .right-arrow:hover {
  color:#aaa;
}


.photo {
  max-height:800px;
  max-width:100%;
}

div.view {
  overflow:auto;
  overflow-y: hidden;
  width:85%;
  max-width:800px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #5d4037;
  /*background: rgba(238,238,238,0.6);*/
  border-radius:8px;
  border-color: #333;
  border-style: solid;
  border-width: 3px;
  margin:auto;
  text-align: left;
}

div.view > p {
  color:#e0e0e0;
  font-size:1.3em;
}

.fall-down {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-name: fall;
  -webkit-animation-name: fall;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}


@-moz-keyframes fall {
  0% {
    -moz-transform:translateY(-100vh);
  }
  100% {
    -moz-transform:translateY(0px);
  }
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
.float-up-fast {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-name: slideUpFast;
  -webkit-animation-name: slideUpFast;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

@-moz-keyframes slideUpFast {
  0% {
    -moz-transform:translateY(20vh);
  }
  100% {
    -moz-transform:translateY(0px);
  }
}

@-webkit-keyframes slideUpFast {
  0% {
    -webkit-transform: translateY(20vh);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}




hw {
  font-family: monospace;
  font-size: 5em;
}

.falling-header {
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-name: slideDown;
  -webkit-animation-name: slideDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}
@-moz-keyframes slideDown {
  0% {
    transform:translateY(-150%);
  }
  100% {
    transform:translateY(0px);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-150%);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}




/*.rp_320 #indexhead {
  font-size:1em;
}*/

.rp_240, .rp_320, .rp_480, .rp_640, .rp_720 #projects-head {
  font-size:1em;
}

div.webview {
  width:200px;
  height:250px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin:auto;
  text-align: left;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  columns: 200px 2;
}

p.wind {
  font-family:serif;
  color: grey;
  font-size: 160%;
  page-break-inside: avoid;
  color:#36342c
}

div.footer-bar {
  width:100%;
  height:0.65%;
  background:#222;
  position:fixed;
  bottom:0px;
}

body.base {
  background-color:#37A6E8;
  margin-bottom: 40px;
  width:100%;
  height:100%;
}

i.web {
  font-size:9em;
  margin:3px;
  color:#23527c;
}

i.web:hover {
  color:#ff6366;
}

div.web-container {
  text-align:left;
}

span.push-right {
 position:relative;
 left:0em;
 bottom:2em;
}