body {
  padding-top: 70px;
  text-align: center;
  height:100%;
  visibility: hidden; /*Hide entire pages until they fully load, to avoid jerky animation*/
}

.brand {
  color: #ddd;
  font-size: 1.3em;
}

.navbar, .dropdown-menu > li > a {
  background-color: #002226;
  background-color: rgba(34, 34, 34, 0.6);
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

.index-container {
  max-width: 1080px;
  min-width:320px;
  margin-top: 2em;
  width: 70%;
}

div.index-box {
  background:#eee;
  padding:0.5em 0.5em 0.25em 0.5em;
  border-radius:5px;
  margin-bottom:2em;
  background: rgba(238,238,238,0.6);
}

.index-box > p {
  color: #111;
}

#first-box {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: slideUp1;
  -webkit-animation-name: slideUp1;
}

@-moz-keyframes slideUp1 {
  0% {
    margin-top: 200vh;
  }
  100% {
    margin-top: 0vh;
  }
}

@-webkit-keyframes slideUp1 {
  0% {
    margin-top: 200vh;
  }
  100% {
    margin-top: 0vh;
  }
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
  border-bottom-width: 70px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.nav.navbar-nav li a {
  color: powderblue;
}

ul>li {
  min-width: 60px;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: rgba(34, 34, 34, 0.6);
}

ul>li.language {
  position:absolute;
  right:50px;
  border-right-width:0px;
}

hr {
  border-top:5px double;
  width:100%;
  border-color:rgb(255, 255, 255, 0.6);
  border-radius:10px;
  margin-top:0px;
}

.hr-cntnr {
  margin-bottom:3em;
}

h1 {
  font-family: monospace;
  font-size: 500%;
  color: white;
  padding-bottom: 60px;
}

h1.photo {
    padding-top: 10px;
    font-style:"monospace";
    font-size: 300%;
    color:grey;
    text-underline-position: 20px;
}

p {
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 140%;
  page-break-inside: avoid;
}

p.site {
  font-family:serif;
  padding-top: 20px;
  font-size: 1.4em;
  margin:auto;
}

space {
  color: #95a4e7;
  font-size: 140%;
}

span.highlight {
  background-color:#ccc;
  font-size: 1.1em;
  border-radius: 3px;
  padding: 4px 4px 4px 4px;
}

div.msg {
  margin-top: 20px;
}

.thumb {
  height:100%;
  width:100%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  float:left;
  margin-right:1em;
  padding-bottom:0.5em;
}

@media screen and (max-device-width: 900px) {
  .thumb {
    float: none;
    margin: 0 auto;
  }
}

.rp_240, .rp_320, .rp_480, .rp_640, .rp_720 .thumb {
  padding-bottom: 1em;
}

div.photo-gallery, div.carousel {
  width:90%;
  max-width:800px;
  margin:auto;
  text-align:center;
}

div.photo-gallery {
  overflow: hidden;
}

.left-arrow, .right-arrow {
  display: block;
  font-size: 3em;
  position: absolute;
  top: 40%;
}

.left-arrow {
  left: -5%;
  padding: 0% 10% 10% 0%;
}

.right-arrow {
  right: -5%;
  padding: 0% 0% 10% 10%;
}

.left-arrow:hover, .right-arrow:hover {
  color:#aaa;
}


.photo {
  max-height:800px;
  max-width:100%;
}

div.view {
  overflow:auto;
  overflow-y: hidden;
  width:85%;
  max-width:800px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #5d4037;
  /*background: rgba(238,238,238,0.6);*/
  border-radius:8px;
  margin:auto;
  text-align: left;
  background-image: url('https://c1.staticflickr.com/3/2717/32881036551_86553db430_b.jpg') !important;
  background-attachment:fixed;
  background-repeat: no-repeat;
}

div.view > p {
  color:#e0e0e0;
  font-size:1.3em;
}

.fall-down {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-name: fall;
  -webkit-animation-name: fall;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

.fall-down-slower {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}


@-moz-keyframes fall {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes fall {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0px;
  }
}

hw {
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
}

.falling-header {
  -moz-animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: slideDown;
  -webkit-animation-name: slideDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}
@-moz-keyframes slideDown {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0px;
  }
}


.fade-in {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-timing-function: ease-in;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*.rp_320 #indexhead {
  font-size:1em;
}*/

.rp_240, .rp_320, .rp_480, .rp_640, .rp_720 #projects-head {
  font-size:1em;
}

div.webview {
  width:200px;
  height:250px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin:auto;
  text-align: left;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  columns: 200px 2;
}

p.wind {
  font-family:serif;
  color: grey;
  font-size: 160%;
  page-break-inside: avoid;
  color:#36342c
}

div.footer-bar {
  width:100%;
  height:0.65%;
  background:#222;
  position:fixed;
  bottom:0px;
}

body.base {
  background-color:#37A6E8; /*original blue*/
  background-color:#333;
  margin-bottom: 40px;
  width:100%;
  height:100%;
}



i.web {
  font-size:9em;
  margin:3px;
  color:#23527c;
}

i.web:hover {
  color:#ff6366;
}

div.web-container {
  text-align:left;
}

span.push-right {
 position:relative;
 left:0em;
 bottom:2em;
}

i.small-icon {
  font-size: 3.5em;
}

.dark-blue {
  background-color: #002226;
  background-color: rgba(34, 34, 34, 0.6);
}

.dark-hover:hover, .dark-hover:focus {
  background-color: inherit !important;
  color: #fff !important;
}

#lang-choices:hover, .dropdown:hover {
  color: inherit !important;
}

.dark-divider {
  background-color: #000 !important;
}

.inherit-color:focus {
  background-color: inherit !important;
}

body.woods {
  background-image: url('https://c2.staticflickr.com/8/7605/27306042294_8a0e82f478_o.jpg') !important;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}