body {
  padding-top: 120px;
  text-align: center;
}

.nav.navbar-nav li a {
    color: powderblue;
}

ul>li {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    min-width: 60px;
}